<div class="scrollingBackground v100" >
  <div class="justify-content-center banner" style="padding: 0!important;">
    <img src="../../../../assets/fachada.png" alt="Slide 1 Image">
    <div class="overlay"></div>
    <div class="caption">QUIENES SOMOS</div>
  </div>
  <div class="container-fluid row " style="height: 80%">
    <div class="col-lg-2 col-md-3 col-sm-4 d-flex align-content-center justify-content-evenly flex-wrap separator">
        <button class="row buttons" (click)="goToSlide('slide1')">Historia</button>
        <button class="row buttons" (click)="goToSlide('slide2')">Misión</button>
        <button class="row buttons" (click)="goToSlide('slide3')">Vision</button>
        <button class="row buttons" (click)="goToSlide('slide4')">Valores</button>
    </div>
    <div class="col-lg-10 col-md-9 col-sm-8 justify-content-center text-center">
      <ngb-carousel #carousel [showNavigationArrows]="false" [showNavigationIndicators]="false" [interval]="0">
        <ng-template ngbSlide id="slide1">
          <div class="carousel-text">
            <img src="../../../../assets/fachada3.png" alt="Slide 1 Image" class="slide-image">
            <h3>Historia</h3>
            <p>Lorem ipsum dolor sit amet. Et nostrum amet aut velit esseest nihil qui exercitationem consectetur. Vel quia cumque <em>Rem minima est quia debitis aut labore voluptas cum labore pariatur</em>. Et optio nostrum <strong>Eos possimus non accusantium odio ex nemo dolorem</strong>? Nam voluptates enimEx voluptas qui impedit autem At nulla dolorum et sint amet hic quidem quam. </p><p>Aut saepe quaeUt dolorem non dolorem reprehenderit est recusandae assumenda aut quia omnis. Est nesciunt neque <em>Ut repudiandae</em> et quis deleniti. Est dolorem quia aut rerum quidemet facilis in atque amet hic internos similique. </p>
          </div>
        </ng-template>
        <ng-template ngbSlide id="slide2">
          <div class="carousel-text">
            <img src="../../../../assets/fachada2.png" alt="Slide 1 Image" class="slide-image">
            <h3>Misión</h3>
            <p>Lorem ipsum dolor sit amet. Et sunt atqueSit similique eum dignissimos corrupti ut exercitationem molestiae non consequuntur dolores aut magnam unde vel autem minima! Est pariatur galisum et consequatur omnis <em>Qui autem et tempore dolorem</em> aut voluptatem eveniet quo numquam iste ut numquam deleniti. Vel earum galisum ut nostrum aperiamet repudiandae sed unde voluptas quo blanditiis quae! Cum labore dolorem in quia aliquidquo aspernatur. </p><p>Eos magni cupiditate et cumque amet <strong>Qui odit rem aspernatur eligendi in galisum sint</strong>. Non labore tenetur <em>Est laboriosam et repudiandae aliquam qui molestiae enim</em>. Aut autem beataeQui suscipit est unde nostrum ab voluptatem nihil At perspiciatis voluptas! Qui internos labore vel sunt quisEt omnis ut labore saepe non nesciunt placeat hic odio distinctio. </p>
          </div>
        </ng-template>
        <ng-template ngbSlide id="slide3">
          <div class="carousel-text">
            <img src="../../../../assets/fachada5.png" alt="Slide 1 Image" class="slide-image">
            <h3>Vision</h3>
            <p>Lorem ipsum dolor sit amet. Qui consequatur adipisci sed unde eaque <em>A galisum vel corrupti suscipit et recusandae beatae rem explicabo iusto</em>. Eum facilis repellendus ut voluptas voluptatem <strong>Vel nihil</strong>! Aut voluptate temporaest sapiente aut magnam libero. </p><p>Sit blanditiis voluptate ut temporibus magnam <strong>Et totam ut dolor dicta At consectetur ullam in sapiente blanditiis</strong>. 33 magni velitRem distinctio sit excepturi earum nam eligendi molestias aut quia libero aut soluta explicabo sit tempora veniam. Non commodi galisum <em>Et consequatur aut iure laudantium</em>. Sed ipsam illoEst exercitationem ut possimus quisquam aut iste esse qui tempore vero aut quas deserunt id tempora sunt. </p>
          </div>
        </ng-template>
        <ng-template ngbSlide id="slide4">
          <div class="carousel-text">
            <img src="../../../../assets/fachada4.png" alt="Slide 1 Image" class="slide-image">
            <h3>Valores</h3>
            <p>Lorem ipsum dolor sit amet. Et atque sint <strong>Et sint vel accusamus quia</strong>. Sed rerum fugiat aut voluptatem esseRem velit. Vel expedita repellendus <em>Sit consequuntur et ducimus nobis et debitis debitis</em> eum illo enim est magnam maiores. </p><p>Eum galisum voluptate qui quia accusantiumsed velit qui voluptatem officia. Ut tenetur temporibus nam rerum dolorum <strong>Ut omnis ut minima ullam</strong> et necessitatibus dolorum aut architecto modi in consequuntur asperiores. Et amet repellat <em>Non quaerat eum nulla autem quo ducimus voluptas</em> vel rerum eveniet At beatae obcaecati. Ut corrupti consequaturEx odit aut amet voluptatum. </p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
