<div class="scrollingBackground v100">
  <div class="blur-effect" style="height: 20vh; width:100%">
    <div class="caption">
      <h2>Empresa</h2>
    </div>
  </div>
  <div class="container d-flex justify-content-center text-center">
    <div class="m-2 shadow p-3 mt-5 mb-3 bg-body rounded">
      <img src="../../../../assets/fachada.png" class="rounded-3">
      <hr>
      <h2 >Quienes somos?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="http://loripsum.net/" target="_blank">Non igitur bene.</a> Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Age, inquies, ista parva sunt. Quae tamen a te agetur non melior, quam illae sunt, quas interdum optines. </p>

    <p><i>Itaque contra est, ac dicitis;</i> Stulti autem malorum memoria torquentur, sapientes bona praeterita grata recordatione renovata delectant. Sed tamen enitar et, si minus multa mihi occurrent, non fugiam ista popularia. Cupiditates non Epicuri divisione finiebat, sed sua satietate. </p>

    <p>Scio enim esse quosdam, qui quavis lingua philosophari possint; <b>Quam nemo umquam voluptatem appellavit, appellat;</b> Quid, de quo nulla dissensio est? Duo Reges: constructio interrete. Apud ceteros autem philosophos, qui quaesivit aliquid, tacet; Scio enim esse quosdam, qui quavis lingua philosophari possint; Quamquam tu hanc copiosiorem etiam soles dicere. Dicimus aliquem hilare vivere; </p>

    <p>Sed haec quidem liberius ab eo dicuntur et saepius. Tum Piso: Quoniam igitur aliquid omnes, quid Lucius noster? Omnia contraria, quos etiam insanos esse vultis. Ait enim se, si uratur, Quam hoc suave! dicturum. </p>

    </div>
</div>
