<div class="background-container v100">
  <div class="backgroundImage ">
    <div class="container-fluid">
      <div class="row " >
        <div class="col-sm-4 d-flex justify-content-end " style="height: 40vh;">
          <div class="row align-self-end" style="width: 10em;">
            <img class=" col align-self-center border-end border-3 filterImage" src="../../../../assets/fullpointLogo.png" alt="" style="width: 100%;">
          </div>
        </div>
        <div class="col-sm-8 d-flex justify-content-start ">
          <div class=" row align-self-end d-flex justify-content-start text-white ">
            <h1 class="h1">FULLPOINT</h1>
            <h2 class="h2">DISTRIBUCIÓN Y REPRESENTACIÓN</h2>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-md d-flex justify-content-center align-content-center flex-wrap cards" >
          <a [href]="'https://drive.google.com/file/d/1o_cKfWqCb2ZWIAlUe3OsUTVA6vQIURzk/view?usp=sharing'"  target="_blank" >
            <div class="circle" style="background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url(https://a57.foxnews.com/global.fncstatic.com/static/managed/img/0/0/cava123.jpg);">
              <div class="overlay"></div>
              <div class="captions hover-visible bottom-caption ">
                <span>CATÁLOGO</span>
              </div>
            </div>
          </a>
          <div class="underCircleCaption">
            <span class="text-white mt-4 h2">MIRA NUESTROS PRODUCTOS</span>
          </div>
        </div>
        <div class="col-md d-flex justify-content-center align-content-center flex-wrap cards" >
          <a (click)="scrollToComponent('contactForm')">
            <div class="circle" style="background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url(https://www.publicdomainpictures.net/pictures/160000/velka/ordinateur-de-bureau-pc-1456070535WEH.jpg);">
              <div class="overlay"></div>
              <div class="captions hover-visible bottom-caption">
                <span>CONTACTO</span>
              </div>
            </div>
          </a>
          <div class="underCircleCaption">
            <span class="text-white mt-4 h2">DEJANOS UN MENSAJE</span>
          </div>
        </div>
        <div class="col-md d-flex justify-content-center align-content-center flex-wrap cards" >
          <a  (click)="scrollToComponent('sendCV')" >
            <div class="circle" style="background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url('https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/Vd3bj2jPe/videoblocks-handshake-man-friendly-handshake-of-two-men-close-up-of-men-greeting-with-handshake-friends-handshaking-of-two-hands-business-partners-handshaking_rn50xn3aaz_thumbnail-1080_01.png');">
              <div class="overlay"></div>
              <div class="captions hover-visible bottom-caption" style="bottom: 33%;">
                <span>DÉJANOS TU CURRICULUM</span>
              </div>
            </div>
          </a>
          <div class="underCircleCaption">
            <span class="text-white mt-4 h2">UNITE A NUESTRO EQUIPO</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
