<div class="background-container homeHeight backgroundImage">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-xs-12 col-md col-lg d-flex justify-content-center align-content-center flex-wrap cards">
        <div class="d-flex flex-column justify-content-center align-items-center firstColumn" style="position: relative;">
          <a href="https://drive.google.com/file/d/1o_cKfWqCb2ZWIAlUe3OsUTVA6vQIURzk/view?usp=sharing" target="_blank">
            <div class="circle" style="background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url(../../../../assets/pritty-2023.jpg);">
              <div class="overlay"></div>
              <div class="captions hover-visible bottom-caption">
                <span>CATÁLOGO</span>
              </div>
            </div>
          </a>
          <div class="underCircleCaption">
            <span class="text-white mt-4 h2 text-center">MIRA NUESTROS PRODUCTOS</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md col-lg d-flex justify-content-center align-content-center flex-wrap cards">
        <div class="d-flex flex-column justify-content-center align-items-center secondColumn" style="position: relative;">
          <a (click)="scrollToComponent('contactForm')">
            <div class="circle" style="background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url(https://www.publicdomainpictures.net/pictures/160000/velka/ordinateur-de-bureau-pc-1456070535WEH.jpg);">
              <div class="overlay"></div>
              <div class="captions hover-visible bottom-caption">
                <span>CONTACTO</span>
              </div>
            </div>
          </a>
          <div class="underCircleCaption">
            <span class="text-white mt-4 h2 text-center">DEJANOS UN MENSAJE</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md col-lg d-flex justify-content-center align-content-center flex-wrap cards">
        <div class="d-flex flex-column justify-content-center align-items-center thirdColumn" style="position: relative;">
          <a (click)="scrollToComponent('sendCV')">
            <div class="circle" style="background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url('https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/Vd3bj2jPe/videoblocks-handshake-man-friendly-handshake-of-two-men-close-up-of-men-greeting-with-handshake-friends-handshaking-of-two-hands-business-partners-handshaking_rn50xn3aaz_thumbnail-1080_01.png');">
              <div class="overlay"></div>
              <div class="captions hover-visible bottom-caption" style="bottom: 33%;">
                <span>DEJANOS TU CURRICULUM</span>
              </div>
            </div>
          </a>
          <div class="underCircleCaption">
            <span class="text-white mt-4 h2 text-center">UNITE A NUESTRO EQUIPO</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
