
<nav class="navbar navbar-expand-lg navbar-primary bg-white nav-shadow fixed-top " [ngClass]="{'navbar-small': isNavbarSmall}">
  <div class="container" >
    <a href="/">
      <div class="brandContainer p-3 mt-1"[ngClass]="{'image-small': isNavbarSmall}" >
        <img [@slideInAnimation] src="../../../../assets/brandTitle.jpeg" style="width:100%">
      </div>
    </a>
    <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" [ngClass]="{'navbar-open': isNavbarOpen}" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link ps-3 ps-lg-2 rounded-3 animated-button" [ngClass]="{'animated-button-small': isNavbarSmall}"
          href='#' (click)="scrollToComponent('home')" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ps-3 ps-lg-2 rounded-3 animated-button" [ngClass]="{'animated-button-small': isNavbarSmall}"
          href='#' (click)="scrollToComponent('aboutUs')" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" >Sobre Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ps-3 ps-lg-2 rounded-3 animated-button" [ngClass]="{'animated-button-small': isNavbarSmall}"
          href='#' (click)="scrollToComponent('brands')" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" >Representaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ps-3 ps-lg-2 rounded-3 animated-button" [ngClass]="{'animated-button-small': isNavbarSmall}"
          href='#' (click)="scrollToComponent('sendCV')" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" >Trabaja con nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ps-3 ps-lg-2 rounded-3 animated-button" [ngClass]="{'animated-button-small': isNavbarSmall}"
          href='#' (click)="scrollToComponent('contactForm')" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" >Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ps-3 ps-lg-2 rounded-3 animated-button" [ngClass]="{'animated-button-small': isNavbarSmall}"
          [href]="'https://drive.google.com/file/d/19UQcqgK7MYqGHmi_b-Ooeu4dPEkx7CU2/view'"  target="_blank">Catalogo</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="wspButton" [ngClass]="{'wspButton-translateButton': isNavbarSmall}">
  <a href="https://wa.me/+5493413510506"  target="_blank"><img src="https://cdn.discordapp.com/attachments/618970725252071424/1120109041981587636/4485687.png"></a>
</div>
