<!-- Footer -->
<footer class="bg-primary text-center text-white footer">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/todonoticias/" role="button">
        <fa-icon [icon]="faFacebook" size="2x"></fa-icon>
      </a>
      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/todonoticias?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" role="button">
        <fa-icon [icon]="faTwitter" size="2x"></fa-icon>
      </a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/todonoticias/?hl=en" role="button">
        <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
      </a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/juan-barrientos-b4a4b5238/" role="button">
        <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
      </a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Juan-Pablo-Barrientos/" role="button">
        <fa-icon [icon]="faGithub" size="2x"></fa-icon>
      </a>
    </section>
    <!-- Section: Social media -->
<hr>
    <!-- Section: Text -->
    <section class="mb-5 ">
      <div class="row d-flex justify-content-between">
        <div class="col text-start">
          <p class="h5">Contacto</p>
          <div class="row d-inline"><fa-icon [icon]="faHouse"></fa-icon><span class="lead">Av. Pte Peron</span></div>
          <div class="row"><p class="lead">Castellanos 2420</p></div>
          <div class="row"><p class="lead">2000 Rosario, Santa Fe, Argentina</p></div>
          <div class="row d-inline"><fa-icon [icon]="faPhone"></fa-icon><span class="lead">555-12442872</span></div><p></p>
          <div class="row d-inline"><fa-icon [icon]="faMail"></fa-icon><span class="lead">Juan@gmail.com</span></div>
        </div>

        <div class="col text-start">
          <p class="h5">Horarios</p>
          <div class="row " >
            <div class="d-inline d-flex justify-content-between">
            <span class="lead"><fa-icon [icon]="faClock"></fa-icon> Lunes a Viernes</span>
            <span class="lead">08:00-17:00</span>
            </div>
          </div>
          <hr>
          <div class="row " >
            <div class="d-inline d-flex justify-content-between">
              <span class="lead"><fa-icon [icon]="faClock"></fa-icon> Sabado</span>
              <span class="lead">08:00-12:00</span>
            </div>
          </div>
          <hr>
          <div class="row " >
            <div class="d-inline d-flex justify-content-between">
              <span class="lead"><fa-icon [icon]="faClock"></fa-icon> Domingo</span>
              <span class="lead">Cerrado</span>
            </div>
          </div>
        </div>
        <div class="col text-start ">
          <p class="h5">Empresa</p>
          <a [routerLink]="'/brands'" class="row d-inline"><fa-icon [icon]="faPaper"></fa-icon><span class="lead">Representaciones</span></a><p></p>
          <a class="row d-inline"><fa-icon [icon]="faPaper"></fa-icon><span class="lead">Productos</span></a><p></p>
          <a class="row d-inline"><fa-icon [icon]="faPaper"></fa-icon><span class="lead">Donde encontrarnos</span></a>
        </div>
      </div>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->

    <!-- Section: Links -->
  </div>
  <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white">Full Point</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
