
.scrollingBackground {
  z-index: -1;
  background:url(https://www.wirtschaftsimpulse.net/fileadmin/_processed_/b/4/csm_Grundlagen_der_Lagerlogistik_c2388be93e.jpg) repeat fixed;
  background-size: 100% auto;
}
.imageContainer{
  height: 100%;
  width: 10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img{
  width: 100%;
}
.blur-effect {
  position: relative;
}

.blur-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:url(https://www.wirtschaftsimpulse.net/fileadmin/_processed_/b/4/csm_Grundlagen_der_Lagerlogistik_c2388be93e.jpg) repeat fixed;
  background-size: 100% auto;
  filter: blur(5px) brightness(1.2);
  z-index: 0;
}

.blur-effect::after {
  content: "";
  position: absolute;
  top: -3%;
  left: 0;
  width: 100%;
  height: 106%;
  background-color: blue;
  opacity: 0.7; /* Adjust the opacity to your preference */
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.caption h2 {
  font-size: 5vw;
}

input[type='file'] {
  color:transparent;
  width:5em;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Cargar CV';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
